body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: rgb(253, 243, 211);
}
#title-container {
  border-radius: 1%;
  width: 95%;
  margin: 2%;
  justify-content: center;
  background: linear-gradient(
    to left,
    rgb(253, 243, 211),
    rgba(255, 255, 255, 0.747)
  );

  display: flex;
}
.green {
  font-size: 45px;
  color: green;
}
.red {
  font-size: 45px;
  color: red;
}
.big-letters {
  font-size: 100px;
}
.btn {
  margin: 1%;
  width: 150px;
  height: 40px;
  border: 2px solid black;
}
#main-container {
  border-radius: 1%;

  background: linear-gradient(
    to right,
    rgb(253, 243, 211),
    rgba(255, 255, 255, 0.747)
  );
  flex-wrap: wrap;

  display: flex;
  justify-content: center;
  margin: auto;
  width: 95%;
  height: auto;
  margin-top: 2%;
}
#title-container {
  font-size: 40px;
  font-weight: bold;
  color: blue;
}
#main-container > div {
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 150px;
  margin: 2%;
}

.answer-cube {
  border: none;
  border-radius: 100%;
  margin: 1%;
  width: 28px;
  height: 28px;
}
